<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="group.pals.android.lib.ui.lockpattern"
    android:versionCode="17"
    android:versionName="2.3" >

    <uses-sdk android:minSdkVersion="7" android:targetSdkVersion="16"/>

</manifest>